<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @contribuinte.nome %>
</p>

<%= link_to 'Edit', edit_contribuinte_path(@contribuinte) %> |
<%= link_to 'Back', contribuintes_path %>
